


body{
    background-color: #cbaf87;
    
    
    
}

header{
    background-color: #7E8A97;
    text-align: center;
    position: sticky;

}

header h1{
    color: #30475E;
}

header li{
    list-style: none;
    
}


header li a:link{
    color: rgb(31, 183, 221)
}

header li a:visited{
    color: silver
}



main{
    background-color: #E7DEC8;
}


h3.menu{
    text-align: center;
}


main li{
    color: teal
}

img {
    position: relative;
}
.para1{
    position: relative;
    left: 140px;
    top: -140px;
    margin-right: 140px;

}

.para2{
    position: relative;
    top: -50px
}


